# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
*.dylib

# Byte-compiled / distribution / packaging
build/
dist/
wheels/
*.egg-info/
.eggs/

# ----------------------------
# Virtual environments
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# IDE / Editor
# ----------------------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ----------------------------
# Logs & Debug
# ----------------------------
logs/
*.log
*.out
*.err

# ----------------------------
# Environment / Config
# ----------------------------
.env
.env.*
*.ini
*.cfg
dotenv.py
dotenv/
*_dotenv_local.py

# ----------------------------
# Data files
# ----------------------------
*.parquet
*.csv
*.xlsx
*.tsv
*.jsonl

# ----------------------------
# Jupyter / notebooks
# ----------------------------
*.ipynb
.ipynb_checkpoints/

# ----------------------------
# Internal / Project-specific
# ----------------------------
internal*
notebooks/
tmp/
cache/
__temp__/
data/
extras/
.data.metadata
.demo_state.txt

# --------------------------
# Testing / Typing
# --------------------------
.mypy_cache
.test
test/
tests/output/
